<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div>
            <label for="tareas">Tareas</label>
            <input type="text" id="tarea" v-model="valor">
            <button v-on:click="agregarTarea">Agregar Tarea</button>
        </div>
        <ul>
            <li v-for="tarea in tareas">{{ tarea }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <!-- <script src="js.js"></script> -->
</body>
</html>